.body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
 .sfy{
    justify-content: center;
    display: flex;
    margin-top: 200px;
} 

nav{
    position: fixed; /*sabitlik*/
    background: white;
    width: 100%;
    height: 80px;

}
nav .logo{
    color: black;
    font-size: 2rem;
    display: inline-block;
    height: 80px;
    line-height: 30px;
    padding: 0 3rem;
    font-family: sans-serif;
}
#leftSide{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color:white;
    margin-top: 80px;

}
#leftSide ul li{
    list-style: none;
    padding: 15px 15px;
    cursor: pointer;
    
}
#leftSide ul li:hover{
    background-color: rgb(218, 237, 250); 
    border-radius: 5px;
    border-left-style: solid;
    border-width: 5px;
    border-color: blue;

}
#leftSide ul li a:hover{
    color: blue;
}
#leftSide ul li a{
    color: rgb(142, 142, 142);
    font-family: sans-serif;
    text-decoration: none;
    font-size: large;
    
}
#rightSide{
    position:fixed;
    width: 100%;
    height: 90%;
    
    margin-left: 400px;
    margin-top: 50px;
}
.product{
    position: relative;
    overflow: hidden;
    padding: 10px;
    display: flexbox;
    float: right;
    
}
.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    
}
#pre-id{
    float: left;
    background-color: #fff;
    padding-right: 1rem;
    border-style: solid; border-width: 1px;
    border-color: rgb(243, 233, 233);
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#nxt-id{
    float: left;
    background-color: #fff;
    padding-right: 1rem;
    border-style: solid; border-width: 1px;
    border-color: rgb(243, 233, 233);
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-short-description {
    font-family: sans-serif;
    font-weight: 600;  
}
.columms{
    float:left;
    width: 33.3%;
    padding: 8px;
}
.price{
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0.8px 12px 0 rgba(0,0,0,0.2);
}
.price li{
    padding: 20px;
    text-align: center;
}
.price .grey{
    background-color: #eee;
    font-size: 20px;
    border-radius: 5px;
}
.button{
    background-color: blue;/*#04AA6D*/
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

/* .product{
    position: relative;
    overflow: hidden;
    padding: 10px;
    
}
.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn{
    opacity: 1;
}
.card-btn:hover{
    background: #009688;
    color: #fff;
}
.product-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.product-brand{
    text-transform: uppercase;
}
.product-short-description{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
.price{
    font-weight: 900;
    font-size: 20px;
}
.pre-btn,
.nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff);
    cursor: pointer;
    z-index: 9;
}
.pre-btn{
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn{
    right: 0;
}
.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
   opacity: 1; 
}
.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
}
.collection {
    position: relative;
}
.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
} */
