@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}

.sfy{
    justify-content: center;
    display: flex;
    margin-top: 200px;
}


nav{
    position:relative;
    background: white;
    width: 100%;
    height: 80px;

}

nav .logo{
    color: black;
    font-size: 2rem;
    display: inline-block;
    height: 80px;
    line-height: 30px;
    padding: 0 3rem;
    font-family: sans-serif;
    margin-top: 70px;

}
.swiper {
    width: 100%;
    margin: 20px auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }

.slider{
    float: right;
    width: 70%;
    height: 100%;
    background-color:white;
    z-index: 30;
}
#leftSide{
    margin: 0;
    float: left;
    width: 30%;
    padding: 40px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    height: 100%;
    background-color:white;
    z-index: 30;
}
#leftSide ul li{
    list-style: none;
    padding: 15px 15px;
    cursor: pointer;

}
#leftSide ul li:hover{
    background-color: rgb(218, 237, 250);
    border-radius: 3px;
    border-left-style: solid;
    border-width: 4px;
    border-color: blue;

}
#leftSide ul li a:hover{
    color: blue;
}
#leftSide ul li a{
    color: rgb(142, 142, 142);
    font-family: sans-serif;
    text-decoration: none;
    font-size: large;

}
#rightSide{
    position:fixed;
    width: 100%;
    height: 90%;
    background-color: grey;
    margin-left: 400px;
    margin-top: 50px;
}
.product{
    position: relative;
    overflow: hidden;
    padding: 10px;
    display: flexbox;
    float: right;

}
.product-category{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    margin: 40px;


}
#pre-id{
    float: left;
    background-color: #fff;
    padding-right: 1rem;
    border-style: solid; border-width: 1px;
    border-color: rgb(243, 233, 233);
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#nxt-id{
    float: left;
    background-color: #fff;
    padding-right: 1rem;
    border-style: solid; border-width: 1px;
    border-color: rgb(243, 233, 233);
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-short-description {
    font-family: sans-serif;
    font-weight: 600;
}
.columms{
    float:left;
    width: 33.3%;
    padding: 8px;
}
.price{
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;

}
.price:hover {
    box-shadow: 0.8px 12px 0 rgba(0,0,0,0.2);
}
.price li{
    padding: 20px;
    text-align: left;
}
.price .grey{
    background-color: #eee;
    font-size: 20px;
    border-radius: 5px;
}
.button{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}



.card-image{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 20%;
    margin-left: 1px;
    padding: 4px 4px;

}
.card-image .card-img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    border: 4px solid #f4f4f4;
}
/* ----------------Slider---------------- */

.slide-container{
    height: 100%;
}
.slide-content{
    margin: 50px 500px;
    height: 100%;
    background-color: rgb(237, 235, 235);
    flex-wrap: wrap;
}
.card{
    height: 100%;
    width: 270px;
    border-radius: 10px;

}
.card-wrapper{
    height: 100%;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-button{
    margin-top: 40px;
}

.name{
    color: rgb(14, 13, 13);
}

/*------------ Ellipsis------------- */

.custom-text-formatter h4{
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid #a5a7ef; */
}
.card-content  {
    white-space: nowrap;
    height: 300px;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align: left;
}

/*------------ ücretsiz kargo---------- */
.description{
    font-size: 17px;
    color: #333;
    text-align: center;
    padding-top: 20px;
}
.description>.description-img{
    width: 30px;
    height: 15px;
    padding-right: 4px;

}
.image-content{
    row-gap: 5px;
}
.button{
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(45, 45, 45);
    padding: 25px 180px;
    padding-left: 40px;
    background-color:rgb(210, 208, 208);

    margin: 10px;
    cursor:pointer;
    transition: all 0.2s ease;
    text-align: center;
}
.button:hover{
    background-color:rgb(199, 198, 198) ;
}
.button2{
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    color: #FFF;
    padding: 7px 60px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 20px;
    margin-left: 50px ;

}
.button2:hover{
    background-color:#0a49f6 ;
}


/* -----------Responsive sol taraf---------- */

@media only screen and (max-width: 600px) {
    .slider{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    #leftSide{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    html,body{overflow: auto;}
}

@media only screen and (max-width: 950px) {
    .slider{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    #leftSide{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    html,body{overflow: auto;}
}

/* ------Responsive sağ taraf ------- */

/* @media only screen and (max-width:1300px){
    .slide-content{
        width: 100%;
        margin-bottom: 30px;
    }
    .slide-container{
        margin-bottom: 20px;

    }
}
@media only screen and (max-width:1288px){
    .slide-content{
        flex-basis: 90%;
    }
}
@media only screen and (max-width:910px){
    .slide-container{
        flex-basis: 90%;
    }
}
@media only screen and (max-width:1280px){
    .slide-content{
        flex-basis: 90%;
        left: 100%;
    }
}

@media only screen and (max-width:850px){
    .slide-content{
        flex-basis: 90%;
        left: 100%;
    }
} */
@media only screen and (max-width:450px){
    .swiper-slide{
        flex-basis: 100%;
        left: 70%;
    }
}
@media only screen and (max-width:950px){
    .swiper-slide{
        flex-basis: 50%;
        left: 10%;
        padding-right: 1px;
    }
}
@media only screen and (max-width:350px) and (max-width:550px) {
    .swiper-slide{
        flex-basis: 50%;
        left: 50%;
        padding-right: 10px;
        margin-right: 50px;
    }
}
@media only screen and (max-width:1280px){
    .swiper-slide{
        flex-basis: 50%;
        left: 10%;
        padding-right: 80%;
    }
}

/* ----------Giriş responsive------- */
@media only screen and (max-width:500px){
    .menu-res{
        flex-basis: 50%;
        left: 10%;
        padding-right: 80%;
    }
}
@media only screen and (max-width:410px){
    .sfy{
        flex-basis: 10%;
        position: absolute;
    }
}
@media only screen and (max-width:800px){
    .menu-res{
        flex-basis: 50%;
        left: 10%;
        
        position: absolute;
    }
}

/* @media only screen and (max-width: 950px) {
    .slide-container{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    .slide-content{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    html,body{overflow: auto;}
} */
/* @media only screen and (min-width: 350px) {
    .slider{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    #leftSide{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }

}  */


/* ------------Responsive deneme------------ */




/* @media only screen and (max-width:1200px){
    .leftSide>.product-category{
        width: 100%;
    }
}
@media only screen and (max-width:1200px){
    .image-content>.card-content{
        width: 100%;
    }
} */

/* @media screen and (min-width:560px) and (max-width:990px) {
    .card{
        height: 100%;
        width: 540px;
        border: 1px solid red;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
    }
    .card-wrapper{
        margin: 50px 500px;
        /* height: 100%; *
        background-color: rgb(237, 235, 235);
        width: 900px;
        height: 700px;
        background: blue;
        margin-bottom: 10px;
    }
}
@media screen and (min-width:560px) and (max-width:990px) {
    .swiper-slide{
        height: 100%;
        width: 540px;
        border: 1px solid red;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
    }
    .slide-container{
        margin: 50px 500px;
        /* height: 100%; *
        background-color: rgb(237, 235, 235);
        width: 900px;
        height: 700px;
        background: blue;
        margin-bottom: 10px;
    }
} */

/* @media screen and (min-width: 320px) and (max-width: 559px){
    div.slide-container{
        width: 300px;
        border: 1px solid black;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 10px;
    }
    div.slide-content{
        width: 200px;
        height: 600px;
        background: orange;
        margin-bottom: 10px;
    }

} */


/* @media only screen and (max-width:870px){
    .slider{
        width: 98%;
    }
    .slider> .swiper-slide> .image-content> .card-content{
        width: 50%;
    }

} */

/* ------farklı slider tasarımı----- */

/* .product{
    position: relative;
    overflow: hidden;
    padding: 10px;

}
.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn{
    opacity: 1;
}
.card-btn:hover{
    background: #009688;
    color: #fff;
}
.product-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.product-brand{
    text-transform: uppercase;
}
.product-short-description{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
.price{
    font-weight: 900;
    font-size: 20px;
}
.pre-btn,
.nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff);
    cursor: pointer;
    z-index: 9;
}
.pre-btn{
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn{
    right: 0;
}
.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
   opacity: 1;
}
.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
}
.collection {
    position: relative;
}
.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
} */
